/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #21ce99;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #21ce99;
    background-color: rgba(0,0,0,0.6);
}

.btn-light {
    border-radius: 0;
    color: #21ce99;
    background-color: rgb(0,0,0,0.4);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #21ce99;
    background-color: rgba(0,0,0,0.6);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 40%;
    margin-right: -250px;
    overflow-y: auto;
    background: rgba(0,0,0,0.4);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #21ce99;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #FFFFFF;
    background: rgba(0,0,0,0.6);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: rgba(0,0,0,0.4);
}

.sidebar-nav > .sidebar-brand a:hover {
    color: rgba(0,0,0,0.6);
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(https://github.com/jasonvl/Jason-Website/blob/gh-pages/img/cover.jpg?raw=true) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 50px 0;
}

/* My Blog */

.myblog {
    padding: 50px 0;
}

.myblog-item {
    margin-bottom: 30px;
}

/* Resume */

.resume {
    padding: 50px 0;
}

.resume-item {
    margin-bottom: 30px;
}

.img-resume {
    margin: 0 auto;
}

.img-resume:hover {
    opacity: 0.8;
}

/* Footer */

footer {
    padding: 10px;
}
